.draggable {
    font: bold 16px sans-serif;
    width: 140px;
    height: 20px;
    text-align: center;
    background: white;
    cursor: move;
    margin-top: 20px;
}

.palettezone {
    width: 160px;
    height: 400px;
    background: lightblue;
    padding: 10px;
    padding-top: 1px;
    float: left;
}